@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.card-header{
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2em;
    color: rgb(210, 223, 248);
}
